@font-face {
  font-family: 'chalkFont';
  src: url(/fonts/Chalk-ySans.otf) format('opentype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}

.title{
  position:fixed;
  font-size: calc(2vh + 2vw);
  color: white;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.info{
  position:fixed;
  color: white;
  text-align: center;
  width: 70vh;
  max-width: 830px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(2.5vh);
}

.gitHolder{
  position:fixed;
  height: 8vh;
  width: 35vh;
  /* max-width: 30vh; */
  top: 50%;
  left: 50%;
  transform: translateX(calc(50% + 3vh)) rotate(2deg) translateY(calc(50% - 5vh));
  display: none;
}


.fullScreen{
  font-family: 'chalkFont', sans-serif;
  position:fixed;
  color: rgb(198, 198, 198);
  text-align: left;
  width: 123.1vh;
  background-color: rgb(25, 58, 37);
  height: 42vh;
  max-width: 123.1vh;
  overflow-y: scroll;
  top: 3.5%;
  left: 52%;
  transform: translateX(-50%);
  font-size: calc(5vh);
  display: none;
  padding: 30px;
}

.leverHolder{
  position:fixed;
  text-align: center;
  height: 8vh;
  width: 9vh;
  max-width: 9vh;
  top: 50%;
  left: 50%;
  transform: translateX(calc(50% + 61vh)) translateY(calc(50% + 2vh));
  display: none;
}
.leverHolder:hover {
  cursor: pointer;
}
/* 
.slideInFromRight {
  animation: slideIn 2.8s ease-out forwards;
  transition-timing-function: linear, linear, cubic-bezier(0,0,.58,1);
  transform: translateX(75%);
}

@keyframes slideIn {
  from {
    transform: translateX(75%);
  }
  to {
    transform: translateX(-50%);
  }
  
} */

a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.right{
  position: fixed;
  text-align: center;
  width: 7vh;
  height: 4vh;
  max-width: 560px;
  top: 50%;
  left: 50%;
  transform: translateX(calc(50% + 65vh)) translateY(calc(50% + 30vh));
}

.right button{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.right button:hover{
  cursor: pointer;
  background-color: transparent;
}

.right:hover{
  cursor: pointer;
}


.instruc{
  position:fixed;
  color: white;
  text-align: center;
  width: 100%;
  max-width: 600px;
  top: 93%;
  left: 70%;
  transform: translateX(-50%);
  font-size: calc(1vh + 1vw);
}